@font-face {
    font-family: 'Cera Pro';
    src: url('./fonts/CeraPro-Regular.eot');
    src: url('./fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/CeraPro-Regular.woff2') format('woff2'),
        url('./fonts/CeraPro-Regular.woff') format('woff'),
        url('./fonts/CeraPro-Regular.ttf') format('truetype'),
        url('./fonts/CeraPro-Regular.svg#CeraPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('./fonts/CeraPro-Medium.eot');
    src: url('./fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/CeraPro-Medium.woff2') format('woff2'),
        url('./fonts/CeraPro-Medium.woff') format('woff'),
        url('./fonts/CeraPro-Medium.ttf') format('truetype'),
        url('./fonts/CeraPro-Medium.svg#CeraPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('./fonts/CeraPro-Thin.eot');
    src: url('./fonts/CeraPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('./fonts/CeraPro-Thin.woff2') format('woff2'),
        url('./fonts/CeraPro-Thin.woff') format('woff'),
        url('./fonts/CeraPro-Thin.ttf') format('truetype'),
        url('./fonts/CeraPro-Thin.svg#CeraPro-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('./fonts/CeraPro-Black.eot');
    src: url('./fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/CeraPro-Black.woff2') format('woff2'),
        url('./fonts/CeraPro-Black.woff') format('woff'),
        url('./fonts/CeraPro-Black.ttf') format('truetype'),
        url('./fonts/CeraPro-Black.svg#CeraPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('./fonts/CeraPro-Light.eot');
    src: url('./fonts/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/CeraPro-Light.woff2') format('woff2'),
        url('./fonts/CeraPro-Light.woff') format('woff'),
        url('./fonts/CeraPro-Light.ttf') format('truetype'),
        url('./fonts/CeraPro-Light.svg#CeraPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('./fonts/CeraPro-BoldItalic.eot');
    src: url('./fonts/CeraPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/CeraPro-BoldItalic.woff2') format('woff2'),
        url('./fonts/CeraPro-BoldItalic.woff') format('woff'),
        url('./fonts/CeraPro-BoldItalic.ttf') format('truetype'),
        url('./fonts/CeraPro-BoldItalic.svg#CeraPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('./fonts/CeraPro-Italic.eot');
    src: url('./fonts/CeraPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/CeraPro-Italic.woff2') format('woff2'),
        url('./fonts/CeraPro-Italic.woff') format('woff'),
        url('./fonts/CeraPro-Italic.ttf') format('truetype'),
        url('./fonts/CeraPro-Italic.svg#CeraPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

